.wrapper {
  text-align: center;
}
.wrapper .img {
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin-top: 20px;
}
.wrapper .img i {
  font-size: 25px;
}
.wrapper .product {
  padding: 30px;
}

.wrapper .product h3 {
  font-weight: 500;
  font-size: 1.9rem;
}
.wrapper .product p {
  margin-top: 10px;
  color: grey;
  line-height: 1.5;
  font-size: 1.4rem;
}
